.container {
    padding: 1rem;
    position: relative;
}

.header {
    text-align: center;
    font-size: 1.2rem;
}

.back {
    left: 0.8rem;
    position: absolute;
    text-decoration: underline;
    top: 0.8rem;
}

.bookmark {
    display: flex;
    margin: 1rem 0;
}

.bkUrl {
    padding: 0 0.5rem;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bkTitle {
    flex: 1;
    padding: 0 0.5rem;
}

.bkInput {
    padding: 0 0.4rem;
    height: 1.2rem;
    width: 100%;
}

.bkInput:focus,
.bkInput:active {
    outline: none;
}

.bkButtonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    text-align: center;
}

.bkButton {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
}
